

<div class="planets-list">
    <app-search-planet (onSearchPlanet)="searchPlanets($event)"></app-search-planet>
    <mat-paginator  #paginator
                    [length]="length"
                    [pageIndex]="pageIndex"
                    [pageSize]="pageSize"
                    [pageSizeOptions]="[5, 10, 25, 100]"
                    (page)="pageEvent = handlePaginatorEvent($event)">
    </mat-paginator>
    <div *ngIf="isFetching" class="planets-list__loader">
        Loading...
    </div>
    <div *ngIf="!isFetching" class="planets-list__table">
        <ul class="planets-list__inner">
            <li *ngFor="let planet of planetsLoaded.slice(pageIndex*pageSize, (pageIndex+1)*pageSize)" class="planets-list__item">
                <h3 [routerLink]="[planet.id]" queryParamsHandling="preserve">{{planet.name}}</h3>
            </li>
        </ul>


    </div>
</div>
